body {
    font-family: 'Montserrat', sans-serif !important;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.barra {
    background: #C23627;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C23627, #C23627);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ED213A, #C23627);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.logo {
    width: 25rem;
    /* display: flex;
    justify-content: center; */
}

a {
    color: #0d6efd;
    text-decoration: none !important;
}

a:hover {
    background-color: lightcoral;
    border-radius: 1em;
}

hr.divider {
    height: 0.2rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
}

hr.divider-light {
    background-color: #fff;
}

.page-section {
    padding: 5rem 0;
}

.ir-arriba {
    display: none;
    padding: 20px;
    border-radius: 50px;
    text-align: center;
    background: #E67E73;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
}

.wsp {
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 90px;
    right: 20px;
    background: #0df053;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    z-index: 100;
}

fa-whatsapp {
    text-decoration: none;
    background: #fff;
    color: #0df053;
}